@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    margin: 0;
    font-size: 1em;
    color: #f2f2f2;
}

.content-center {
    padding: 2% 10%;
    margin-right: auto;
    margin-left: auto;
}

#fork-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    left: 0;
    right: 0;
}

.navbar-custom {
    background-color: #121212;
}

.navbar-custom .nav-item .active {
    background-color: #0b5ed6;
    color: #f2f2f2;
}

.navbar-custom .nav-item a:hover {
    background-color: #f2f2f2;
    color: #121212;
    text-decoration: none;
}

.game {
    text-align: center;
    display: block;
}

.card-set {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}